nav#sidenav
	img#middlelogo(src="img/middle-logo-borrelli.svg", alt="")
	ul
		li
			a#globalsite(href="http://www.luigiborrelli.com") LuigiBorrelli.com
			i.fa.fa-external-link(style="font-size: 0.8em; padding-left: 5px;")
		li
			a(href="index.html") All Fragrances
		li
			a(href="cotton.html") Cotton
		li
			a(href="cashmere.html") Cashmere
		li
			a(href="wool.html") Vicuña Wool
		li
			a#mycart.snipcart-checkout(href="#")
				span My Cart
				img#bagicon(src="img/bag.svg", alt="")