footer
	form#email-form.half-footer-item(action='javascript:tempSuccess();')
		p Be the first to receive news and new product information.
		input(type="email", placeholder="ENTER YOUR EMAIL")
		button.clear-cta Subscribe
	
	.half-footer-item
		ul
			each page in contentful.textPages
				li
					a(href="/#{slugme(page.footerLinkName.toLowerCase())}.html") #{page.footerLinkName}
			
			li
				a(href="/contacts.html") Contacts

			//- li
			//- 	a(href="delivery.html") Delivery
			//- li
			//- 	a(href="/img/press-release-borrelli-eng.pdf") For Press
		
		img(src='/img/small-credit-cards-accepted.png')