extends layout

//- temp. hardcoded workaround for showing only the pages which was found in Contentful textPages footerLinkName array
block content
	- var thisPage = 'press' 								//- what we'll try fo find in Contentful on deploy
	- var detectedIn = -1 										  //- set the flag to 'not found' initialy
	- var allPagesfooterLinkNames = ''					//- create empty string
	- var pageToPull = contentful.textPages

	for page, i in contentful.textPages
		if page.footerLinkName.toLowerCase().indexOf(thisPage) >= 0
			-detectedIn = i
		-allPagesfooterLinkNames += page.footerLinkName.toLowerCase()

	if detectedIn >= 0
		if pageToPull[detectedIn].pdf
			#pdf
				embed(src="#{asset(pageToPull[detectedIn].pdf)}", type="application/pdf")
		else
			h2#textPage= pageToPull[detectedIn].headline
			article#textPage!= markdown(pageToPull[detectedIn].body)
			//- a(href="#{asset(pageToPull[detectedIn].pdf)}") Download Press Release	
	else
		script.
			location = "/"

	include ./includes/_footer