footer {
	margin-top 30px
	display: flex;
	/*border-top: 1px solid rgba(198,197,197,0.4);*/
	/*padding-top: 40px;*/
	
}
.half-footer-item {
	flex: 1 1 50%;
	padding-top: 10px;
}
footer ul, footer p {
	margin-top: 0;
}
footer ul {
	border-top: 1px solid rgba(198,197,197,0.4);
	padding-left: 2.5%;
}
footer li {
	display: inline;
	margin-left: 0;
	margin-right: 15px;
}
footer a {
	font-family: Raleway-Regular;
	font-size: 13px;
	color: #C6C5C5;
	letter-spacing: 0;
	line-height: 35px;
}
#email-form {
	text-align: center;
	/*background: rgba(198,197,197,0.4);*/
	background: #E8E8E8;
	padding-bottom: 60px;
}

#email-form p {
	opacity: 0.7;
	font-size: 14px;
	font-weight: lighter;
	color: #222222;
	letter-spacing: 0;
	line-height: 24px;
	text-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

#email-form input {
	border: 1px solid rgba(198,197,197,0.5);
	border-radius: 1px;
	font-family: Raleway-Regular;
	font-size: 14px;
	color: #222222;
	letter-spacing: 0;
	line-height: 35px;
	padding-left: 10px;
	margin-right: 5px;
	height: 40px;
	width: 50%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: rgba(198,197,197,0.6);
}
::-moz-placeholder { /* Firefox 19+ */
	color: rgba(198,197,197,0.6);
}
:-ms-input-placeholder { /* IE 10+ */
	color: rgba(198,197,197,0.6);
}
:-moz-placeholder { /* Firefox 18- */
	color: rgba(198,197,197,0.6);
}