#banner {
  /*height: 46vh;*/
  height: 67vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */ 
  background-size: cover;
  background-position: center center;
}

#bannerGradient
  height 100%
  width  100%
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center; 
  background linear-gradient(135deg, 
                            rgba(255,255,255,0.6) 0%, 
                            rgba(255,255,255,0.7) 50%)

#banner h1, #banner p {
  color lbgreen
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  padding: 1px 20px;
  
}

#banner h1 {
  font-size: 40px;
  line-height: 44px;
  /*padding: 1px 20px;*/
}
#banner p {
  font-size: 25px;
  font-weight: lighter;
  color: #222222;
  opacity: 0.8;
  /*color: rgba(0, 0, 0, 0.7);*/
  margin-bottom: 20px;
  line-height: 30px;
  max-width 17em
}