#sidenav {
	margin-top: 30px;
	height: 100%;
	width: 250px;
	position: fixed;
	overflow-x: hidden;
	transition: all 0.5s;
}

#sidenav > #logo {
	max-width: 220px;
	margin-left: 40px;
}

#sidenav > ul {
	margin-top: 0;
	text-align: left;
}

/*to prevent text to have more than one line when collapse sidenav*/
#sidenav > ul > li {
	min-width: 250px;
}

nav a {
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;
	color: rgba(27,71,44,0.9);
}

a#globalsite, .mycart{
	line-height: 80px;
}
.mycart {
	display: flex;
	align-items: center;
}
#bagicon {
	margin-left: 10px;
	margin-bottom: 8px;
}

.social a i {
	font-weight: lighter;
	font-size: 17px;
	color: #8D8D8D;
	opacity: 0.8;
	margin: 1em 1.5em 1em 0
}

#mobnav
	z-index 100
	top 0
	position fixed
	height 0
	overflow hidden
	width 100%
	background #F2E7C9
	transition all 0.5s
	
#topbar
	height 60px
	display flex
	justify-content space-between
	align-items center
	// transition all 0.5s
	
#topbar > #burger, #topbar > .mycart.snipcart-checkout
	padding 0 25px
	
#smalllogo > img
	padding-top 8px
	
#burger {
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 1px;
    background-color: rgba(27,71,44,0.9);
    margin: 6px 0;
    transition: 0.5s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px) ;
    transform: rotate(-45deg) translate(-5px, 5px) ;
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px) ;
    transform: rotate(45deg) translate(-5px, -5px) ;
}

.collapsed
	margin 0
	height 0
	overflow hidden

#mobmenu
	text-align center
	-webkit-padding-start 0
	transition all 0.5s

#mobmenu > li > a
	font-size 20px
	
#mobmenu > .social
	margin-left: 1.5em

a.mobmenu
	line-height 40px

