#bigphoto > img
	width: 100%
	margin-bottom: 5px
	background: linear-gradient(160deg,
																		rgba(242, 232, 200,0.1) 0%,
																		rgba(242, 232, 200,0.2) 50%)

#thumbs
	text-align: center

#thumbs > img
	max-width: 115px
	width: 15%
	padding: 5px
	transition: all 0.3s
	cursor: pointer
	margin: 0
	display: inline

#thumbs > img:hover
	opacity: 0.6
	margin: 0
	display: inline
