#page
	display: flex
	flex-flow: wrap
	padding-top: 3%

#bigphoto, #productBottomHalf
	margin: 0 3% 0 3%

#bigphoto
	order: 1
	flex: 1 1 50%

#lines-to-buy
	order: 2
	flex: 1 1 30%

#description
	order: 4
	flex: 1 1 30%

#productBottomHalf
	order: 3
	flex: 1 1 50%

#productFooter
	order: 5
	flex: 1 1 100%
	padding-left: 3%
