#page {
	display: flex;
	flex-flow: wrap; 
	padding-top 3%
} 

#bigphoto, #productBottomHalf
	margin 0 3% 0 3%

#bigphoto {
	/*background: #4990E2;*/
	order: 1;
	flex: 1 1 50%;
}

#lines-to-buy {
	/*background: #9012FE;*/

	order: 2;
	flex: 1 1 30%;
}

#description {
	/*background: #9058FE;*/

	order: 4;
	flex: 1 1 30%;
}

#productBottomHalf {
	/*background: #50E3C2;*/

	order: 3;
	flex: 1 1 50%;
}

#productFooter {
	order: 5;
	flex: 1 1 100%;
	padding-left 3%
}