// ---------------
// Axis Settings
// Check here for updates:
// https://github.com/jenius/axis/blob/master/axis/settings.styl
// ---------------

// Font stacks (add your own!)
// $helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
// $helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
// $georgia = Georgia, Cambria, "Times New Roman", Times, serif
// $lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
// $monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
// $verdana = Verdana, Geneva, sans-serif
$raleway = 'Raleway', sans-serif
 /*--- Google Fonts ---*/
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600')


// Default font settings
$font-stack = $raleway
$font-size = 14
$font-color = rgba(34,34,34,0.9)

/*BRAND COLORS*/
/* !! WE USE GREEN:   #1B472C HEX > rgba(27,71,44,1.0)  BEIGE IS #F2E7C9 */
/*luigiborrelli.com uses: #1a472b  #1a472b HEX > rgba(26,71,43,1.0) */
/*real colors from guidelines are: 85C 0M 90Y 80B > #002714 HEX > rgba(8,51,5,1.0)*/

// Colors (via http://clrs.cc - slightly modded)
$lbblack  = rgba(34,34,34,0.9)
$lbgreen  = #1B472C
$lbbeige  = #F2E7C9


$navy     = #001F3F
$blue     = #0074D9
$aqua     = #7FDBFF
$teal     = #39CCCC
$olive    = #3D9970
$green    = #2ECC40
$lime     = #01FF70
$yellow   = #FFDC00
$orange   = #FF851B
$red      = #D13F19
$maroon   = #85144B
$fuchsia  = #F012BE
$purple   = #B10DC9
$white    = #FFFFFF
$silver   = #DDDDDD
$gray     = #AAAAAA
$black    = #222222

// Use as default HTML colors
lbgreen = $lbgreen
lbbeige = $lbbeige

navy    = $navy
blue    = $blue
aqua    = $aqua
teal    = $teal
olive   = $olive
green   = $green
lime    = $lime
yellow  = $yellow
orange  = $orange
red     = $red
maroon  = $maroon
fuchsia = $fuchsia
purple  = $purple
white   = $white
silver  = $silver
gray    = $gray
black   = $black

// Default color
$default-color = $blue

// Text highlight color
$highlight-color = $blue

// Custom image base path for axis mixins
$img-path = '/img/'

// Ligatures
// $ligatures = false
