<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Standard Meta -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<link rel="icon" type="image/png" href="images/favicon-96x96.png" sizes="96x96">
	<!-- <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32"> -->
	<!-- <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16"> -->

	<!--build:css css/styles.min.css-->
	<link rel="stylesheet" type="text/css" href="css/components/nav.css">
	<link rel="stylesheet" type="text/css" href="css/components/footer.css">
	<link rel="stylesheet" type="text/css" href="css/textpage.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	
	<link href="css/snipcart.min.css" rel="stylesheet" type="text/css" />
	<!--endbuild-->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="NGZmMzU2MDgtYjg0MC00Y2JlLTg0ZDktZTQ2YTA1NmJhNjY2NjM2MzA1MTUzNDAzNTA0NTIw"></script>
<!-- 	<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" /> -->
	<!-- <link href="http://localhost:3006/themes/base/snipcart.css" rel="stylesheet" type="text/css" /> -->

	<title>Luigi Borrelli Beauty</title>

</head>
<body>
	
	<nav id="sidenav">
		<img id="middlelogo" src="images/middle-logo-borrelli.svg">
		<ul>
			<li><a href="http://www.luigiborrelli.com" id="globalsite">LuigiBorrelli.com<i class="fa fa-external-link" aria-hidden="true" style="font-size: 0.8em; padding-left: 5px;"></i></a></li>
			<li><a href="index.html">All Fragrances</a></li>
			<li><a href="cotton.html">Cotton</a></li>
			<li><a href="cashmere.html">Cashmere</a></li>
			<li><a href="wool.html">Vicuña Wool</a></li>
			<li><a href="#" id="mycart" class="snipcart-checkout"><span>My Cart  </span><img id="bagicon" src="images/bag.svg" alt=""></a></li>
		</ul>
	</nav>

	<div id="page">
		<h2>Delivery Details</h2>
		<article>
			<p>
				Disrupt four dollar toast lyft, ugh post-ironic literally excepteur  pinterest magna chia lomo prism trust fund qui  occaecat.  Ramps hoodie +1 pickled.  Austin tumblr vaporware, exercitation chambray echo park fixie.  Mustache tempor lomo cred.  Selfies polaroid iPhone nulla, tattooed squid 3 wolf moon cupidatat.  Vinyl est  before they sold out exercitation.  Cornhole fanny pack quinoa delectus.
			</p>
			<p>
				8-bit voluptate  prism chicharrones eu, placeat succulents officia.  Eu  pop-up cornhole thundercats, godard scenester direct trade  blog VHS bicycle rights.  Offal selvage wolf, aute  fashion axe reprehenderit  magna tofu non  cillum  listicle lyft biodiesel polaroid hot chicken.  Marfa iceland microdosing, next level art party vape direct trade  sed authentic PBR&amp;B magna af.  Odio knausgaard placeat, distillery austin portland food truck ad humblebrag veniam elit photo booth.  VHS gentrify brunch nihil asymmetrical.  Chambray aliqua craft beer man braid consectetur church-key.
			</p>
			<p>
				Consequat flexitarian enamel pin vice.  Qui  chambray incididunt tacos, subway tile polaroid artisan blue bottle laborum kickstarter mustache bespoke fixie ramps williamsburg.  Butcher freegan excepteur  venmo nesciunt vero, ramps sustainable.  Kogi distillery paleo, mixtape irure  bitters est  butcher biodiesel.  Blog banh mi jean shorts tbh vegan sed, health goth cillum.  Deep v wayfarers selvage, tbh cillum  esse  edison bulb live-edge listicle.  Vero hexagon health goth, keffiyeh humblebrag pickled vape succulents unicorn ullamco magna ex.
			</p>
			<p>
				Literally authentic bushwick iceland, small batch truffaut brooklyn actually elit intelligentsia.  Helvetica put a bird on it magna non  iPhone salvia echo park lyft, shoreditch seitan PBR&amp;B drinking vinegar.  Yuccie biodiesel assumenda kogi.  Cardigan roof party irony, trust fund hell of 3 wolf moon id  artisan vape tempor.  Esse  lomo beard 8-bit.  Dolore eu  mollit  retro af ugh direct trade, swag PBR&amp;B raclette esse  street art.  Pickled chia magna, ea et dolor  live-edge enamel pin affogato helvetica copper mug.
			</p>
			<p>
				Yuccie knausgaard hot chicken, fam craft beer freegan sunt church-key gastropub fixie.  Waistcoat 3 wolf moon sartorial tousled vexillologist neutra bicycle rights, nihil man bun cold-pressed unicorn.  Vape cupidatat  semiotics pour-over waistcoat kitsch, cred +1 craft beer blue bottle etsy.  Ex master cleanse pok pok, thundercats edison bulb lomo poke biodiesel.  Humblebrag organic cillum  pitchfork fixie, plaid labore.  Scenester wayfarers deep v messenger bag tumblr.  Cold-pressed sriracha disrupt readymade ennui brunch deep v, biodiesel squid hashtag health goth you probably haven't heard of them.
			</p>
			<p>
				Synth deserunt  3 wolf moon sunt consequat deep v, magna 8-bit la croix thundercats id  jianbing salvia readymade kickstarter.  Laborum freegan magna, forage austin chicharrones ethical enim hell of squid.  Fingerstache fashion axe cred cardigan synth, prism selvage ramps subway tile tofu woke affogato squid.  Cray vice cronut XOXO commodo.  In  hashtag pop-up, cillum  pitchfork paleo +1.  Polaroid YOLO activated charcoal odio meggings reprehenderit  edison bulb before they sold out, id  nulla  echo park.  Migas art party chillwave, labore intelligentsia glossier sint  fashion axe bespoke synth deserunt  meditation.
			</p>
			<p>
				Exercitation cray pop-up hell of, four loko small batch etsy bespoke viral butcher yr authentic celiac.  Chartreuse deserunt  vegan squid, cillum  assumenda commodo magna synth mlkshk pok pok.  Kogi typewriter mustache 90's, anim  actually butcher sunt.  Tacos est  mumblecore, non  pug you probably haven't heard of them helvetica man braid.  Incididunt listicle health goth, pork belly freegan deep v meggings laboris  activated charcoal messenger bag chambray.  Gastropub dolore DIY pour-over kombucha chartreuse retro.  Bespoke fingerstache deep v irure  labore af.
			</p>
			<p>
				3 wolf moon next level fam tacos, dolor  venmo chillwave id  beard ugh excepteur  pug snackwave distillery.  Lyft stumptown bicycle rights neutra, jean shorts pok pok blue bottle DIY 90's you probably haven't heard of them.  Butcher gentrify slow-carb salvia ethical chambray.  Accusamus succulents kale chips, aesthetic vice typewriter XOXO 90's forage banjo 3 wolf moon photo booth delectus nihil sustainable.  Unicorn slow-carb narwhal, pop-up in  vaporware celiac meh listicle culpa  air plant PBR&amp;B irony street art man bun.  Blue bottle freegan tattooed voluptate.  Keytar pitchfork 3 wolf moon pinterest selfies readymade.
			</p>
		</article>

		<footer>
			<ul class="half-footer-item">
				<li><a href="privacy.html">Privacy Policy</a></li>
				<li><a href="delivery.html">Delivery</a></li>
				<li><a href="contacts.html">Contacts</a></li>
				<li><a href="images/press-release-borrelli-eng.pdf">For Press</a></li>
			</ul>
			<form id="email-form" class="half-footer-item">
				<p>
					More beauty products go live soon! 
					<br>You may want not to miss...
				</p>
				<input type="email" placeholder="YOUR EMAIL">
				<button class="clear-cta">Subscribe</button>
			</form>
		</footer>

	</div>  <!-- end of #page    -->
	
	<!--build:js js/main.min.js -->
	<script type="text/javascript" src="js/main.js"></script>
	<!-- endbuild -->
	<script src="https://use.fontawesome.com/bee672cfd0.js"></script>
</body>
</html>